:root {
  --body-bg: #fafafa;
  --body-color: #555;
  --link-color: #222;
  --link-color-hover: #000;
}
@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #212529;
    --body-color: #6c757d;
    --link-color: #dee2e6;
    --link-color-hover: #fff;
  }
}

body {
	color: #222;
  background: #fff;
}
a {
    color: #0033cc;
}

body.dark-theme {
  color: #eee;
  background: #061626;
}
body.dark-theme a {
  color: #809fff;
}

h1 {
	margin-top: 35% !important;
	font-family: 'Noto Serif', serif !important;
	font-weight: 700 !important;
}

p {
	font-family: 'EB Garamond', serif !important;
}

.page-header {
	border-bottom: 1px solid #888 !important;
}

.footer {
	/* background-color: #f1e7d0 !important; */
	text-align: right !important;
  background-color: #f5f5f5;
}

.container {
	max-width: 540px !important;
  -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein .5s; /* Firefox < 16 */
    -ms-animation: fadein .5s; /* Internet Explorer */
     -o-animation: fadein .5s; /* Opera < 12.1 */
        animation: fadein .5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}